@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-da21e2a50eca13b79acef898ed518608.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-9aaca75401cd5a476ff169996a7dbd74.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-e35137e847da8b6772f9408648e42329.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-59bee25d5264d62b70eb26b456ed9252.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-7e0cf2fff049385210eb883187001d6c.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-9ebc94d3c77fd5d2da5c32867a6e10bf.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-396ef5b9aadd406fff1fadda3447adb8.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-da21e2a50eca13b79acef898ed518608.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-9aaca75401cd5a476ff169996a7dbd74.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-e35137e847da8b6772f9408648e42329.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-59bee25d5264d62b70eb26b456ed9252.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-7e0cf2fff049385210eb883187001d6c.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-9ebc94d3c77fd5d2da5c32867a6e10bf.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-396ef5b9aadd406fff1fadda3447adb8.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-da21e2a50eca13b79acef898ed518608.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-9aaca75401cd5a476ff169996a7dbd74.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-e35137e847da8b6772f9408648e42329.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-59bee25d5264d62b70eb26b456ed9252.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-7e0cf2fff049385210eb883187001d6c.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-9ebc94d3c77fd5d2da5c32867a6e10bf.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-396ef5b9aadd406fff1fadda3447adb8.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-da21e2a50eca13b79acef898ed518608.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-9aaca75401cd5a476ff169996a7dbd74.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-e35137e847da8b6772f9408648e42329.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-59bee25d5264d62b70eb26b456ed9252.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-7e0cf2fff049385210eb883187001d6c.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-9ebc94d3c77fd5d2da5c32867a6e10bf.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-396ef5b9aadd406fff1fadda3447adb8.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-da21e2a50eca13b79acef898ed518608.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-9aaca75401cd5a476ff169996a7dbd74.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-e35137e847da8b6772f9408648e42329.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-59bee25d5264d62b70eb26b456ed9252.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-7e0cf2fff049385210eb883187001d6c.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-9ebc94d3c77fd5d2da5c32867a6e10bf.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-396ef5b9aadd406fff1fadda3447adb8.woff2?h=7fa4478caa0664acd2263f55d6d4c3c7) format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: Ubuntu;
    src: url(../../assets/fonts/Ubuntu-4fb5a491be7098a29bc4ef8ac77b0591.woff2?h=398ed5bfd7aa319e6f1e2839159742a9) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: Ubuntu;
    src: url(../../assets/fonts/Ubuntu-52676cb4cdd48b6649cd63751804a8e5.woff2?h=398ed5bfd7aa319e6f1e2839159742a9) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: Ubuntu;
    src: url(../../assets/fonts/Ubuntu-cb9450f2d3d67f5d6bc28f03147493dd.woff2?h=398ed5bfd7aa319e6f1e2839159742a9) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: Ubuntu;
    src: url(../../assets/fonts/Ubuntu-77e1db084ecd47de29289b072d28ed4a.woff2?h=398ed5bfd7aa319e6f1e2839159742a9) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF
}

@font-face {
    font-family: Ubuntu;
    src: url(../../assets/fonts/Ubuntu-1aaa08f18a0c6527b0952746200c4c72.woff2?h=398ed5bfd7aa319e6f1e2839159742a9) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Ubuntu;
    src: url(../../assets/fonts/Ubuntu-5682c67fe920896a5356c1f304e0ccce.woff2?h=398ed5bfd7aa319e6f1e2839159742a9) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: Ubuntu;
    src: url(../../assets/fonts/Ubuntu-f88659e411b6ffb1d210a49ed9ed4ac8.woff2?h=398ed5bfd7aa319e6f1e2839159742a9) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: Ubuntu;
    src: url(../../assets/fonts/Ubuntu-e1e78a9a111b614d49f0eef0e4181c88.woff2?h=398ed5bfd7aa319e6f1e2839159742a9) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: Ubuntu;
    src: url(../../assets/fonts/Ubuntu-68a3e5e6b365e0b6fde28de6566f8404.woff2?h=398ed5bfd7aa319e6f1e2839159742a9) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: Ubuntu;
    src: url(../../assets/fonts/Ubuntu-37ff4e4d1b4c78c750b667c298c0b178.woff2?h=398ed5bfd7aa319e6f1e2839159742a9) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF
}

@font-face {
    font-family: Ubuntu;
    src: url(../../assets/fonts/Ubuntu-4e6da71cfc902f5e8a8c5d96e4f8a396.woff2?h=398ed5bfd7aa319e6f1e2839159742a9) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Ubuntu;
    src: url(../../assets/fonts/Ubuntu-68675416dcaf93ee41741b39a7e20734.woff2?h=398ed5bfd7aa319e6f1e2839159742a9) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

:root,
[data-bs-theme=light] {
    --bs-primary: #323ea8;
    --bs-primary-rgb: 50, 62, 168;
    --bs-primary-text-emphasis: #141943;
    --bs-primary-bg-subtle: #D6D8EE;
    --bs-primary-border-subtle: #ADB2DC;
    --bs-secondary: #d6d8ee;
    --bs-secondary-rgb: 214, 216, 238;
    --bs-secondary-text-emphasis: #56565F;
    --bs-secondary-bg-subtle: #F7F7FC;
    --bs-secondary-border-subtle: #EFEFF8;
    --bs-success: #099268;
    --bs-success-rgb: 9, 146, 104;
    --bs-success-text-emphasis: #043A2A;
    --bs-success-bg-subtle: #CEE9E1;
    --bs-success-border-subtle: #9DD3C3;
    --bs-danger: #e03131;
    --bs-danger-rgb: 224, 49, 49;
    --bs-danger-text-emphasis: #5A1414;
    --bs-danger-bg-subtle: #F9D6D6;
    --bs-danger-border-subtle: #F3ADAD;
    --bs-dark: #0c101c;
    --bs-dark-rgb: 12, 16, 28;
    --bs-dark-text-emphasis: #05060B;
    --bs-dark-bg-subtle: #CECFD2;
    --bs-dark-border-subtle: #9E9FA4;
    --bs-body-color: #fff;
    --bs-body-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(255, 255, 255, 0.75);
    --bs-secondary-color-rgb: 255, 255, 255, 0.75;
    --bs-tertiary-color: rgba(255, 255, 255, 0.5);
    --bs-tertiary-color-rgb: 255, 255, 255, 0.5;
    --bs-body-bg: #0c101c;
    --bs-body-bg-rgb: 12, 16, 28;
    --bs-body-font-family: Ubuntu, sans-serif;
    --bs-body-font-weight: normal
}

.btn-primary,
.btn-primary[data-bs-theme=dark],
[data-bs-theme=dark] .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #323ea8;
    --bs-btn-border-color: #323ea8;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2B358F;
    --bs-btn-hover-border-color: #283286;
    --bs-btn-focus-shadow-rgb: 224, 226, 242;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #283286;
    --bs-btn-active-border-color: #262F7E;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #323ea8;
    --bs-btn-disabled-border-color: #323ea8
}

.btn-outline-primary,
.btn-outline-primary[data-bs-theme=dark],
[data-bs-theme=dark] .btn-outline-primary {
    --bs-btn-color: #323ea8;
    --bs-btn-border-color: #323ea8;
    --bs-btn-focus-shadow-rgb: 50, 62, 168;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #323ea8;
    --bs-btn-hover-border-color: #323ea8;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #323ea8;
    --bs-btn-active-border-color: #323ea8;
    --bs-btn-disabled-color: #323ea8;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #323ea8
}

.btn-secondary,
.btn-secondary[data-bs-theme=dark],
[data-bs-theme=dark] .btn-secondary {
    --bs-btn-color: #000000;
    --bs-btn-bg: #d6d8ee;
    --bs-btn-border-color: #d6d8ee;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #DCDEF1;
    --bs-btn-hover-border-color: #DADCF0;
    --bs-btn-focus-shadow-rgb: 32, 32, 36;
    --bs-btn-active-color: #000000;
    --bs-btn-active-bg: #DEE0F1;
    --bs-btn-active-border-color: #DADCF0;
    --bs-btn-disabled-color: #000000;
    --bs-btn-disabled-bg: #d6d8ee;
    --bs-btn-disabled-border-color: #d6d8ee
}

.btn-outline-secondary,
.btn-outline-secondary[data-bs-theme=dark],
[data-bs-theme=dark] .btn-outline-secondary {
    --bs-btn-color: #d6d8ee;
    --bs-btn-border-color: #d6d8ee;
    --bs-btn-focus-shadow-rgb: 214, 216, 238;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #d6d8ee;
    --bs-btn-hover-border-color: #d6d8ee;
    --bs-btn-active-color: #000000;
    --bs-btn-active-bg: #d6d8ee;
    --bs-btn-active-border-color: #d6d8ee;
    --bs-btn-disabled-color: #d6d8ee;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #d6d8ee
}

.btn-success,
.btn-success[data-bs-theme=dark],
[data-bs-theme=dark] .btn-success {
    --bs-btn-color: #000000;
    --bs-btn-bg: #099268;
    --bs-btn-border-color: #099268;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #2EA27F;
    --bs-btn-hover-border-color: #229D77;
    --bs-btn-focus-shadow-rgb: 1, 22, 16;
    --bs-btn-active-color: #000000;
    --bs-btn-active-bg: #3AA886;
    --bs-btn-active-border-color: #229D77;
    --bs-btn-disabled-color: #000000;
    --bs-btn-disabled-bg: #099268;
    --bs-btn-disabled-border-color: #099268
}

.btn-outline-success,
.btn-outline-success[data-bs-theme=dark],
[data-bs-theme=dark] .btn-outline-success {
    --bs-btn-color: #099268;
    --bs-btn-border-color: #099268;
    --bs-btn-focus-shadow-rgb: 9, 146, 104;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #099268;
    --bs-btn-hover-border-color: #099268;
    --bs-btn-active-color: #000000;
    --bs-btn-active-bg: #099268;
    --bs-btn-active-border-color: #099268;
    --bs-btn-disabled-color: #099268;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #099268
}

.btn-danger,
.btn-danger[data-bs-theme=dark],
[data-bs-theme=dark] .btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #e03131;
    --bs-btn-border-color: #e03131;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #BE2A2A;
    --bs-btn-hover-border-color: #B32727;
    --bs-btn-focus-shadow-rgb: 250, 224, 224;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #B32727;
    --bs-btn-active-border-color: #A82525;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #e03131;
    --bs-btn-disabled-border-color: #e03131
}

.btn-outline-danger,
.btn-outline-danger[data-bs-theme=dark],
[data-bs-theme=dark] .btn-outline-danger {
    --bs-btn-color: #e03131;
    --bs-btn-border-color: #e03131;
    --bs-btn-focus-shadow-rgb: 224, 49, 49;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e03131;
    --bs-btn-hover-border-color: #e03131;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #e03131;
    --bs-btn-active-border-color: #e03131;
    --bs-btn-disabled-color: #e03131;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #e03131
}

.btn-dark,
.btn-dark[data-bs-theme=dark],
[data-bs-theme=dark] .btn-dark {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0c101c;
    --bs-btn-border-color: #0c101c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0A0E18;
    --bs-btn-hover-border-color: #0A0D16;
    --bs-btn-focus-shadow-rgb: 219, 219, 221;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0A0D16;
    --bs-btn-active-border-color: #090C15;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0c101c;
    --bs-btn-disabled-border-color: #0c101c
}

.btn-outline-dark,
.btn-outline-dark[data-bs-theme=dark],
[data-bs-theme=dark] .btn-outline-dark {
    --bs-btn-color: #0c101c;
    --bs-btn-border-color: #0c101c;
    --bs-btn-focus-shadow-rgb: 12, 16, 28;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0c101c;
    --bs-btn-hover-border-color: #0c101c;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0c101c;
    --bs-btn-active-border-color: #0c101c;
    --bs-btn-disabled-color: #0c101c;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0c101c
}

[data-bs-theme=dark] {
    --bs-primary: #323ea8;
    --bs-primary-rgb: 50, 62, 168;
    --bs-primary-text-emphasis: #848BCB;
    --bs-primary-bg-subtle: #0A0C22;
    --bs-primary-border-subtle: #1E2565;
    --bs-secondary: #d6d8ee;
    --bs-secondary-rgb: 214, 216, 238;
    --bs-secondary-text-emphasis: #E6E8F5;
    --bs-secondary-bg-subtle: #2B2B30;
    --bs-secondary-border-subtle: #80828F;
    --bs-success: #099268;
    --bs-success-rgb: 9, 146, 104;
    --bs-success-text-emphasis: #6BBEA4;
    --bs-success-bg-subtle: #021D15;
    --bs-success-border-subtle: #05583E;
    --bs-danger: #e03131;
    --bs-danger-rgb: 224, 49, 49;
    --bs-danger-text-emphasis: #EC8383;
    --bs-danger-bg-subtle: #2D0A0A;
    --bs-danger-border-subtle: #861D1D;
    --bs-dark: #0c101c;
    --bs-dark-rgb: 12, 16, 28;
    --bs-dark-text-emphasis: #6D7077;
    --bs-dark-bg-subtle: #020306;
    --bs-dark-border-subtle: #070A11;
    --bs-body-color: #fff;
    --bs-body-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(255, 255, 255, 0.75);
    --bs-secondary-color-rgb: 255, 255, 255, 0.75;
    --bs-tertiary-color: rgba(255, 255, 255, 0.5);
    --bs-tertiary-color-rgb: 255, 255, 255, 0.5;
    --bs-body-bg: #0c101c;
    --bs-body-bg-rgb: 12, 16, 28;
    --bs-body-font-family: Ubuntu, sans-serif;
    --bs-body-font-weight: bold
}

.bs-icon {
    --bs-icon-size: .75rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: var(--bs-icon-size);
    width: calc(var(--bs-icon-size) * 2);
    height: calc(var(--bs-icon-size) * 2);
    color: var(--bs-primary)
}

.bs-icon-xs {
    --bs-icon-size: 1rem;
    width: calc(var(--bs-icon-size) * 1.5);
    height: calc(var(--bs-icon-size) * 1.5)
}

.bs-icon-sm {
    --bs-icon-size: 1rem
}

.bs-icon-md {
    --bs-icon-size: 1.5rem
}

.bs-icon-lg {
    --bs-icon-size: 2rem
}

.bs-icon-xl {
    --bs-icon-size: 2.5rem
}

.bs-icon.bs-icon-primary {
    color: var(--bs-white);
    background: var(--bs-primary)
}

.bs-icon.bs-icon-primary-light {
    color: var(--bs-primary);
    background: rgba(var(--bs-primary-rgb), .2)
}

.bs-icon.bs-icon-semi-white {
    color: var(--bs-primary);
    background: rgba(255, 255, 255, .5)
}

.bs-icon.bs-icon-rounded {
    border-radius: .5rem
}

.bs-icon.bs-icon-circle {
    border-radius: 50%
}